body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
}

p {
  margin: 0;
}

.div-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-width: 400px;
}

.div-result {
  background-color: #00300b;
  width: 60%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.div-result .container {
  padding: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 360px;
}

.team-name-div, .total-score-div, .goals-made-div, .goals-taken-div, .manager-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  gap: 6px;
}

.obj {
  font-size: 16px;
  font-weight: bold;
}

.manager-div {
  margin-bottom: 0;
}

.team-name, .date {
  font-weight: bold;
  font-size: 20px;
}

th, td {
  padding: 4px 10px;
}

th {
  font-size: 14px;
}

td {
  text-align: center;
}

h1 {
  color: #1a1a1a;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5em;
  margin-bottom: 16px;
}

p {
  max-width: 360px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 48px;
}

form > * {
  margin-bottom: 24px;
}

form > *:last-child {
  margin-bottom: 0;
}

.inputItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

label {
  font-weight: bold;
  color: #1a1a1a;
  font-size: 16px;
}

select, button {
  width: 320px;
  height: 54px;
  padding: 8px;
  border: 2px solid #1a1a1a;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

select:focus {
  border-color: green;
}

button {
  cursor: pointer;
  background-color: #1a1a1a; 
  color: #fff;
  border: none;
  text-transform: uppercase;
}

button:hover {
  background-color: #00300b; 
}

.button-selected {
  background-color: #00300b;
  color: #fff;
}

.button-not-selected {
  background-color: #1a1a1a;
  color: #fff;
}

.button-not-selected:hover {
  background-color: #00300b;
}
