/* Reset styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
}

/* Remove default margin from paragraphs */
p {
  margin: 0;
}

/* Form container */
.div-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-width: 400px;
}

/* Form */
form {
  animation: formAnimation 0.5s ease-in;
}

@keyframes formAnimation {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Result container */
.div-result {
  background-color: #00300b;
  width: 60%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation: resultAnimation 0.5s ease-in;
}

@keyframes resultAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Result content container */
.div-result .container {
  padding: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 360px;
}

/* Team info sections */
.team-name-div,
.total-score-div,
.goals-made-div,
.goals-taken-div,
.total-goals-div,
.cards-div,
.manager-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  gap: 6px;
}

/* Objectives */
.obj {
  font-size: 18px;
  font-weight: bold;
}

.obj, .result {
  text-align: left;
}

/* Team name and date */
.team-name,
.manager-name
.date {
  font-weight: bold;
  font-size: 20px;
}

/* Table styles */
th,
td {
  padding: 4px 10px;
}

th {
  font-size: 14px;
}

td {
  text-align: center;
}

/* Heading styles */
h1 {
  color: #1a1a1a;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5em;
  margin-bottom: 16px;
}

/* Paragraph styles */
p {
  max-width: 360px;
  text-align: center;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 48px;
}

form > * {
  margin-bottom: 24px;
}

form > *:last-child {
  margin-bottom: 0;
}

/* Input item styles */
.inputItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

/* Label styles */
label {
  font-weight: bold;
  color: #1a1a1a;
  font-size: 18px;
}

/* Select and button styles */
select,
button {
  width: 320px;
  height: 54px;
  padding: 8px;
  border: 2px solid #1a1a1a;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

/* Select focus style */
select:focus {
  border-color: green;
}

/* Button styles */
button {
  cursor: pointer;
  background-color: #1a1a1a;
  color: #fff;
  border: none;
  text-transform: uppercase;
}

/* Button hover styles */
button:hover {
  background-color: #00300b;
}

/* Selected button styles */
.button-selected {
  background-color: #00300b;
  color: #fff;
}

/* Not selected button styles */
.button-not-selected {
  background-color: #1a1a1a;
  color: #fff;
}

/* Not selected button hover styles */
.button-not-selected:hover {
  background-color: #00300b;
}
